@import "utilidades/normalizer";
@import "utilidades/variables";
@import "utilidades/mixins";
@import "onepage/index";
@import "login/login";
@import "sistema/index";
@font-face {
    font-family: "Genera Grotesk";
    src: url("/src/fonts/Genera\ Grotesk\ Heavy.ttf") format("truetype");
  
   
  }
  @font-face {
    font-family: "Poppins";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap") format("truetype");
  
    
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
    
  }
  
  img {
    width: 3rem;
    height: 4rem;
  }

  .titulo-contenido-b{
    border-bottom: 4px solid $naranja;
    color: $blanco;
  }

  .titulo-contenido-v{
    border-bottom: 4px solid $naranja;
    color: $azuloscuro;
  }
  
