@mixin laptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin btn-mod($background-color, $color) {
  background-color: $background-color;
  color: $color;
  font-size: 0.9rem;
  padding: 0.3rem .9rem;

  border: 1px solid $negro;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($background-color, 20%);
  }
}
