$naranja: rgb(243, 89, 18);
$blanco: white;
$negro: black;
$azuloscuro: #153742;
$azuloscuro2: rgb(11, 81, 100);
$rojo: red;
$rojohover: rgb(110, 10, 10);
$verde: rgb(54, 122, 54);
$verdehover: rgb(4, 65, 4);
$cyan: #0da08f;
$cyan2:rgb(13, 95, 86);

$azul: #3d5296;
$azulhover: rgb(11, 11, 128);