.info {
    background-color: $azuloscuro;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  
    &__div {
      width: 40rem;
      height: 29rem;
      display: grid;
      padding: 5rem;
      place-items: center;
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: dense; 
      
      .info__mision,
      .info__vision {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: start;
        color: $blanco;
        font-family: "Space Grotesk", sans-serif;
        text-align: center;
        gap: 1rem;
        
        h2 {
          border-bottom: 4px solid $naranja;
        }
      }
    }
  }
  