.footer {
  background-color: #153742;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.6rem 1rem;

  

  &__div {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    @include laptop{
      justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    }
  }

  &__contacto,
  &__sociales {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include laptop{
      width: 25rem;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }

  &__header {
    text-align: center;
    border-bottom: 4px solid $naranja;
  }

  &__contacto--info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    padding: 2rem;

    @include laptop {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: 1rem;
    }

    img {
      width: 6rem;
      height: 7rem;
    }
  }

  &__contacto--logos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    @include laptop{
      flex-direction: column;
    justify-content: flex-start;
    }
  }

  &__sociales--info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem;

    @include laptop{
      flex-direction: column;
      
      text-align: center;
    }
  }
}
