@font-face {
  font-family: "Genera Grotesk";
  src: url("/src/fonts/Genera\ Grotesk\ Heavy.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Genera Grotesk", sans-serif;
  font-weight: 100;
}

img {
  width: 3rem;
  height: 4rem;
}

.navegacion {
  background-color: #153742;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.navegacion a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
.navegacion a:hover {
  color: rgb(243, 89, 18);
}

.navegacion__div {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navegacion__div--url {
  display: flex;
  justify-content: space-between;

  gap: 3rem;
}
.navegacion__div--url a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
.navegacion__div--url a:hover {
  color: rgb(243, 89, 18);
  text-decoration: none;
  font-size: 1.3rem;
}

.banner {
  background-image: url(/src/img/fondosishunm.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}
.banner__div {
  background-color: rgba(21, 55, 66, 0.8);
  width: 90%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  gap: 2rem;
}
.banner__div--header {
  color: white;
  text-align: center;
}
.banner__div--img {
  width: 12rem;
  height: 14rem;
}
.info {
  background-color: rgba(21, 55, 66);
  display: grid;
  padding: 5rem;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense; /* Asegura que las celdas se llenen de manera más equitativa */
}
.info__mision ,
.info__vision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: start;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  gap: 1rem;
}
.info__mision h2,
.info__vision h2 {
  border-bottom: 4px solid #d6490c;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    color: #153742;
    text-align: center;
    gap: 2rem;
    
    font-weight: 700;
}

.about__header{
    border-bottom: 4px solid #d6490c;
    
}
.about__parrafo{
    font-family: "Space Grotesk", sans-serif;
}

.estadisticas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    background-color: #153742;
    color: white;
    text-align: center;
}

.estadisticas__div--numero{
    color: #d6490c;
    font-size: 5rem;

}
.autoridades{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    flex-direction: column;
    gap: 2rem;
    color: #153742;
}
.autoridades__header{
    border-bottom: 4px solid #d6490c;
}
.autoridades__div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    
}
.autoridades__div--contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
   
}
.autoridades__div--contenedor p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    text-align: center;
}
.autoridades__div--titulo{
    
}
.autoridades__div--contenedor img{
    width: 16rem;
    height: 15rem;
    border-radius: 50%;
}
