

@font-face {
  font-family: "Genera Grotesk";
  src: url("/src/fonts/Genera\ Grotesk\ Heavy.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Genera Grotesk", sans-serif;
  font-weight: 100;
}

img {
  width: 3rem;
  height: 4rem;
}

.navegacion {
  background-color: #153742;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.navegacion a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
.navegacion a:hover {
  color: rgb(243, 89, 18);
}

.navegacion__div {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navegacion__div--url {
  display: flex;
  justify-content: space-between;

  gap: 3rem;
}
.navegacion__div--url a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
.navegacion__div--url a:hover {
  color: rgb(243, 89, 18);
  text-decoration: none;
  font-size: 1.3rem;
}

.banner {
  background-image: url(/src/img/fondosishunm.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}
.banner__div {
  background-color: rgba(21, 55, 66, 0.8);
  width: 44rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  gap: 2rem;
}
.banner__div--header {
  color: white;
  text-align: center;
}
.banner__div--img {
  width: 12rem;
  height: 14rem;
}
.info {
  background-color: rgba(21, 55, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.info__div {
  width: 40rem;
  height: 29rem;
  display: grid;
  padding: 5rem;
  place-items: center;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense; /* Asegura que las celdas se llenen de manera más equitativa */
}
.info__mision,
.info__vision {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: start;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  gap: 1rem;
}
.info__mision h2,
.info__vision h2 {
  border-bottom: 4px solid #d6490c;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  color: #153742;
  text-align: center;
  gap: 2rem;

  font-weight: 700;
}
.about__div {
  width: 40rem;
}

.about__header {
  border-bottom: 4px solid #d6490c;
}
.about__parrafo {
  font-family: "Space Grotesk", sans-serif;
}

.estadisticas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  background-color: #153742;
  color: white;
  text-align: center;
}

.estadisticas__div--numero {
  color: #d6490c;
  font-size: 5rem;
}
.autoridades {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  flex-direction: column;
  gap: 2rem;
  color: #153742;
}
.autoridades__header {
  border-bottom: 4px solid #d6490c;
}
.autoridades__div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.autoridades__div--contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.autoridades__div--contenedor p {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  text-align: center;
}
.autoridades__div--titulo {
}
.autoridades__div--contenedor img {
  width: 16rem;
  height: 15rem;
  border-radius: 50%;
}

.login {
  background-image: url(/src/img/fondologin.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem;
  display: flex;

  justify-content: center;
  align-items: center;
}
.login__header {
}
.login__div {
  font-family: "Space Grotesk", sans-serif;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 1rem;
  padding: 4rem;
  color: white;
  background-color: rgba(21, 55, 66, 0.8);
  gap: 3rem;
}
.login__div--img {
  width: 15rem;
  height: 18rem;
}
.login__formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 3rem;
}
.login__div--contenedor {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.login__div--contenedor a {
  text-decoration: none;
  color: white;
}
.login__formulario--grupo {
  display: flex;
  gap: 1rem;
  align-items: start;
  justify-content:space-between;
  width: 20rem;
}

.form-input {
  border: none;
  border-bottom: 0.2rem solid #2c2c2c;
  outline: none;
  padding: 5px;
  color: white;

  background-color: rgba(49, 51, 51, 0.062);
}

.btn {
  padding: 0.5rem;
  width: 9rem;
  background-color: #0da08f;
  color: white;
  border: 1px solid #000;
  border-radius: 0.5rem;
}

.btn:hover {
  background-color: #12423d;
  cursor: pointer;
}

.galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
  background-color: #153742;
  color: white;
}

.galeria__div {
  width: 40rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galeria__header {
  border-bottom: 4px solid #d6490c;
  font-weight: 200;
}

.galeria__imagenes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.galeria__imagenes img {
  width: 10rem;
  height: 12rem;
  border-radius: 0.5rem;
}

.ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.ubicacion__div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 25rem;
  flex-direction: column;
  gap: 1rem;
}

.ubicacion__header {
  border-bottom: 4px solid #d6490c;
}

.ubicacion__mapa {
  background-color: #2c2c2c;
  height: 20rem;
  width: 30rem;
  border-radius: 0.5rem;
}

.footer {
  background-color: #153742;
  color: white;
  font-family: "Space Grotesk", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}
.footer__div {
  display: flex;
  justify-content: center;
  align-items: start;
}
.footer__contacto, .footer__sociales { 
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


 
}
.footer__contacto a, .footer__sociales a{
  text-decoration: none;
   color: white;
}


.footer__header{
  text-align: center;
  border-bottom: 4px solid #d6490c;
}

.footer__contacto--info{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding: 2rem;
}
.footer__contacto--logos{
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}
.footer__contacto--info img{
  width: 12rem;
  height: 16rem;
}

.footer__sociales--info{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}


.wrapper {
  display: flex;
  flex-direction: row-reverse;
}
.lateral {
  height: 100vh;
  width: 11rem; 
  color: white;
 
  background-color: #153742; 
}
.lateral__nav a{
  text-decoration: none;
  color: white;
}
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.header {
  height: 50px; 
  width: 100%;
  background-color: #153742; 
}

