.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__div {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  &__datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.btn-editar{
@include btn-mod($azul, $blanco);
}
